---
import BaseHead from '../components/BaseHead.astro';
import Layout from '../layouts/mainpage_layout.astro';
import ImageGallery from '../components/Image.astro'
import '../styles/gallery.css'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

export const prerender = false;
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body >
		<Layout title='GALLERY'>
			<div id="loading">
				<div class="spinner"></div>
			</div>
			<ImageGallery  />
		</Layout>

		<script>
			// 画像のロードが完了したら非表示のCSSを削除し、画像を表示する
			window.onload = function()  {
				const imageContainer = document.getElementById('imageContainer');
				const loading = document.getElementById('loading');
				if (imageContainer && loading) {
					imageContainer.style.display = 'block';
					loading.style.display = 'none';
				}
			}
			// ローディング画面を表示する
			document.addEventListener('DOMContentLoaded', function () {
				const loading = document.getElementById('loading');
				if (loading) {
					loading.style.display = 'block';
				}
			});
		</script>
	</body>
</html>
