---
import BaseHead from '../components/BaseHead.astro';
import HeaderLink from '../components/HeaderLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '@fontsource/freehand'
import '@fontsource/gfs-didot'
import '../styles/index.css'

---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="openbtn"><span></span><span></span><span></span></div>
		<p class="icon">kouxi photo</p>
		<div class="width-border"/>
		<div class="height-border"/>
		<div class="black-overlay"></div>

		<nav>
			<ul class = "link">
				<li class = "page_link">
					<HeaderLink href="/blog">BLOG</HeaderLink>
				</li>
				<li class="page_link">
					<HeaderLink href="/gallery">GALLERY</HeaderLink>
				</li>
			</ul>
		</nav>
		<nav>
			<div class = "sns">
				<p>
					<HeaderLink href="https://twitter.com/KouXi_3840">
						<img src="sns_icon/x.png"width={20} height={20} alt="x" class="sns_img"/>
					</HeaderLink>
				</p>
				<p>
					<HeaderLink href="https://www.instagram.com/kou.0003">
						<img src="sns_icon/Instagram.png" width={25} height={25} alt="Instagram" class="sns_img"/>
					</HeaderLink>
				</p>
			</div>
		</nav>

		<script>
			document.addEventListener("DOMContentLoaded", function() {
				var openbtn = document.querySelector('.openbtn') as HTMLElement;
				var blackOverlay = document.querySelector('.black-overlay') as HTMLElement;
				var pagelink = document.querySelector('.link') as HTMLElement;

				openbtn.addEventListener('click', function() {
					openbtn.classList.toggle('active');
					// activeになったら黒い画面を表示
					if (openbtn.classList.contains('active')) {
						blackOverlay.style.display = 'block';
						pagelink.style.display = 'block';
					} else {
						blackOverlay.style.display = 'none';
						pagelink.style.display = 'none';
					}
				});
			});
		</script>

	</body>
</html>
