---
import '@fontsource/gfs-didot'
import '../styles/footer.css'

const today = new Date();
---
<section class="footer-section">
	<div class="underline"/>
	<footer>
		&copy; {today.getFullYear()} kouxi photo.
	</footer>
</section>
