---
import { get_data_url } from '../minio';
import '../styles/image.css'

export const prerender = false;

async function fetchData() {
  try {
    const presignedUrl = await get_data_url();
    return presignedUrl;
  } catch (err) {
    console.error(err);
    return null;
  }
}
const results = await fetchData();


---

<div id="imageContainer" style="display: none;">
    <section class="photos">
        {results && results.length > 0 ? (
            results.map((url, index) => (
                <div class="gallery-item">
                    <img src={url} alt={`Image ${index}`}  />
                </div>
            ))
            ) : (
                <p>No images available</p>
            )}
    </section>
</div>
